*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
}
.navegador{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: lightskyblue;
}
li{
    margin: 50px;
}

.logo{ 
    height: 21vh;
}
body{
    background-color: linen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
}

footer{
    background-color: black;
    color: white;
}
.imagenp{
    height: 315px;
    margin: 30px;
}
.caja{
    height: 55px;
    background-color: azure;
    border: 10px solid;
    text-align: center;
}
.form{
    background-color: lightskyblue;
    color: white;
    border: 3px solid white;
    height: 400px;
}
.imagenes{
    width: 100%;
    height: 600px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
img{
    height: 300px;
    width: auto;
}

.input{
    height: 100px;
}
@media only screen and (max-width: 500px){
.navegador{    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    background-color: lightskyblue;
    flex-wrap: wrap;
    align-content: center;
    height: 170px;
}
img{
    height: 200px;
    width: auto;
    margin-bottom: 10px;
}
.imagenes{
    height: 550px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-items: center;
    background-color: #f2f2f2;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
}