*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media only screen and (max-width: 500px){
    .navbar{    
       flex-direction: column;
       align-items: center;
       list-style-type: none;
       flex-wrap: wrap;
       text-transform:uppercase;
        & li a{
            color: black;
            font-size: 18px;
            text-align: center;
        }
    }
    .maingaleria{
        h1{
            text-align: center;
            font-size: 20px;
            color: white;
            margin-bottom: 20px;
            background-color: black;
            padding: 10px;
        }
        .galeria{
            align-items: center;
            .card{
                border-radius: 15px;
            }
        }
        
    }
}